@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 100% 95%;
    --foreground: 212 5% 10%;
    --card: 212 50% 91%;
    --card-foreground: 212 5% 15%;
    --popover: 212 100% 95%;
    --popover-foreground: 212 100% 10%;
    --primary: 212 100% 46.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 30% 91%;
    --muted-foreground: 212 5% 40%;
    --accent: 174 30% 90%;
    --accent-foreground: 212 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 212 5% 91%;
    --border: 212 30% 82%;
    --input: 212 30% 50%;
    --ring: 212 100% 46.7%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 50% 10%;
    --foreground: 212 5% 91%;
    --card: 212 50% 10%;
    --card-foreground: 212 5% 91%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 91%;
    --primary: 212 100% 46.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 25%;
    --muted-foreground: 212 5% 65%;
    --accent: 174 30% 25%;
    --accent-foreground: 212 5% 91%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 212 5% 91%;
    --border: 212 30% 50%;
    --input: 212 30% 50%;
    --ring: 212 100% 46.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-black;
  }

  .glass {
    @apply bg-white bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20;
  }

  .bg-glass {
    @apply bg-white bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-20;
  }

  .bg-glass-top {
    @apply pattern-diagonal-lines pattern-blue-500 pattern-bg-white pattern-size-2 pattern-opacity-20;
  }

  .bg-glass-top-black {
    @apply pattern-diagonal-lines pattern-white pattern-bg-black pattern-size-2 pattern-opacity-20;
  }

  .text-glass-foreground {
    @apply text-white;
  }

  .border-glass {
    @apply border-white border-opacity-60;
  }
}

.cal {
  font-family: "Cal Sans", sans-serif;
}

.ambit {
  font-family: "Ambit", sans-serif;
  text-shadow: 1px 1px 30px #44444480;
}

span {
  font-family: inherit;
}

h1 {
  font-family: "Ambit", sans-serif;
  @apply text-5xl font-black tracking-tight transition-all duration-700 sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
}

h2 {
  @apply pb-2 text-3xl font-medium tracking-tight transition-all duration-700 first:mt-0 sm:text-5xl md:text-6xl lg:text-7xl;
}

h3 {
  font-family: "Ambit", sans-serif;
  @apply text-2xl font-semibold tracking-tight transition-all duration-700 sm:text-4xl;
}

h4 {
  @apply text-xl font-semibold tracking-tight transition-all duration-700;
}

p {
  font-family: "Ambit", Poppins, sans-serif;
  @apply tracking-wide;
  /* @apply ; */
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

.spline-watermark {
  display: none !important;
}

@font-face {
  font-family: "Ambit";
  src:
    url("/fonts/ambit/Ambit-Regular.woff2") format("woff2"),
    url("/fonts/ambit/Ambit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.mdxeditor {
  border: 1px solid #efefef;
  padding: 5px;
}

.mdxeditor-toolbar {
  display: flex;
  flex-direction: row;
  background-color: #efefef22;
  padding: 5px;
  margin-bottom: 5px;

  & * {
    display: flex;
    flex-direction: row;
  }
}

.mdxeditor-root-contenteditable {
  outline: none;
  min-height: 50px;

  & * {
    outline: none;
  }

  & *>h1 {
    font-size: 20px;
  }
}

* {
  cursor:
    url("/cursor/small.png") 0 0,
    auto;
}

a:disabled,
button:disabled,
.disabled,
.invalid {
  cursor:
    url("/cursor/red.png") 0 0,
    not-allowed;
}

.draggable,
[draggable="true"] {
  cursor:
    url("/cursor/closed.png") 0 0,
    grab;
}

.dragging,
[draggable="true"]:active {
  cursor:
    url("/cursor/open.png") 0 0,
    grabbing;
}

a,
button:enabled,
[role="button"],
input[type="submit"],
input[type="button"],
.clickable {
  cursor:
    url("/cursor/point.png") 0 0,
    pointer;
}

a:active,
button:enabled:active,
[role="button"]:active,
input[type="submit"]:active,
input[type="button"]:active,
.clickable:active {
  cursor:
    url("/cursor/clicked.png") 0 0,
    pointer;
}

@media screen {
  :root {
    background-image: url("/cursor/small.png"), url("/cursor/red.png"),
      url("/cursor/closed.png"), url("/cursor/open.png"),
      url("/cursor/point.png"), url("/cursor/clicked.png"),
      url("/cursor/text.png");
    background-image: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

#model-viewer {
  width: 600px;
  height: auto;
  aspect-ratio: 1 / 1;
}

button.bg-glass.glass-button>.lucide {
  @apply !w-7 !h-7;
}

.qr-container>*>*>svg {
  width: 100%;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}